.icon-arrow-next {
  width: 1.38em;
  height: 1em;
  fill: #FFF;
}
.icon-arrow-prev {
  width: 1.38em;
  height: 1em;
  fill: #FFF;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: #ADADAD;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: #ADADAD;
}
.icon-youtube {
  width: 1.33em;
  height: 1em;
  fill: #ADADAD;
}
